<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar">
        <div>
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a>Vehiculos</a></li>
                    <li><a asp-controller="Home" asp-action="AboutUs">Nosotros</a></li>
                    <li><a>Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
