@model Concesionario.Models.CreateCarViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="top-container">
    <div class="container">
        <h1 class="header-container">Publicar nuevo vehículo</h1>
    </div>
</div>

<div class="container">

    <div class="form-container">
        <form asp-controller="Cars" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <div class="form-select">
                    <select asp-for="Marca" asp-items="Model.Marcas" class="input-correct"></select>
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="input-correct" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="input-correct" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="input-correct" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometros" class="control-label"></label>
                <input asp-for="Kilometros" class="input-correct" />
                <span asp-validation-for="Kilometros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="input-correct" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="input-correct" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Publicar" class="btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index" class="btn-primary">Volver</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
