@model Concesionario.Models.Car

@{
    ViewData["Title"] = "Delete";
}
<div class="top-container">
    <div class="container">
        <h1 class="header-container">Borrar publicación</h1>
    </div>
</div>

<div class="container">

    <h3>¿Está seguro que desea borrar la publicación?</h3>

    <div class="item-container">
        @{
            var pathImg = "~/img/" + Model.PathImg;

            <!--Item-->
            <div class="car-item-details">

                <!--Img-->
                <img src="@pathImg" asp-append-version="true" />

                <!--Header-->
                <div class="car-item-header">
                    <h3>@Model.Descripcion</h3>
                </div>

                <!--Description-->
                <div class="car-item-description">
                    <ul>
                        <li>
                            <p> Modelo: @Model.Modelo </p>
                        </li>
                        <li>
                            <p>Precio: $@Model.Precio </p>
                        </li>
                        <li>
                            <p> Estado: @Model.Estado </p>
                        </li>
                    </ul>
                </div>
            </div>
        }

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="btn-primary" />
        </form>

    </div>

    <div>
        <a asp-action="Index" class="btn-primary">Volver</a>
    </div>
</div>