<div class="item-container">
    <div class="car-item">
        <img src="~/img/renault/renault-clio.jpg" />
        <h4>Renault Clio</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>    
    <div class="car-item">
        <img src="~/img/ford/ford-ka.jpg" />
        <h4>Ford Ka 2020</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>
    <div class="car-item">
        <img src="~/img/chevrolet/chevrolet-onix.jpg" />
        <h4>Chevrolet Onix</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>
    <div class="car-item">
        <img src="~/img/peugeot/peugeot-208.jpg" />
        <h4>Nuevo Peugeot 208</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>
    <div class="car-item">
        <img src="~/img/ford/ford-focus-iii.jpg" />
        <h4>Ford Focus III</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>
    <div class="car-item">
        <img src="~/img/renault/renault-duster.jpg" />
        <h4>Renault Duster</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>
    <div class="car-item">
        <img src="~/img/peugeot/peugeot-206.jpg" />
        <h4>Peugeot 206</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>    
    <div class="car-item">
        <img src="~/img/renault/renault-logan.jpg" />
        <h4>Renault Logan</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar cubilia dictumst suspendisse leo sollicitudin</p>
        <p>Precio: $1000000</p>
    </div>
</div>
