<div>
    <ul>
        <li>
            <img class="box" src="~/img/concesionario/concesionario-2.jpg">
        </li>
    </ul>
</div>
<div class="container">
    <h2 class="header-container">¿Quiénes somos?</h2>
    <div class="text-container">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, malesuada suspendisse fusce potenti natoque dapibus taciti, dignissim conubia nascetur vehicula purus ultrices urna. Nascetur ornare blandit felis varius aliquet consequat at, class mauris nam molestie vulputate bibendum purus aenean, ultrices vestibulum tristique iaculis habitant augue. Natoque morbi cursus euismod condimentum sollicitudin a in porta dictumst pulvinar lacinia ut, curae ligula neque conubia fermentum convallis molestie bibendum tempor eros phasellus nullam habitant, urna imperdiet felis id augue est dictum tincidunt gravida cum lectus.</p>
    </div>
</div>
<div class="container">
    <h2 class="header-container">¿Por qué elegirnos?</h2>
    <div class="text-container">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, malesuada suspendisse fusce potenti natoque dapibus taciti, dignissim conubia nascetur vehicula purus ultrices urna. Nascetur ornare blandit felis varius aliquet consequat at, class mauris nam molestie vulputate bibendum purus aenean, ultrices vestibulum tristique iaculis habitant augue. Natoque morbi cursus euismod condimentum sollicitudin a in porta dictumst pulvinar lacinia ut, curae ligula neque conubia fermentum convallis molestie bibendum tempor eros phasellus nullam habitant, urna imperdiet felis id augue est dictum tincidunt gravida cum lectus.</p>
    </div>
</div>
