<div class="container">
    <ul>
        <li>
            <img src="~/img/concesionario/concesionario-1.jpg">
        </li>
    </ul>
    <div>
        <h4>¿Quiénes somos?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, malesuada suspendisse fusce potenti natoque dapibus taciti, dignissim conubia nascetur vehicula purus ultrices urna. Nascetur ornare blandit felis varius aliquet consequat at, class mauris nam molestie vulputate bibendum purus aenean, ultrices vestibulum tristique iaculis habitant augue. Natoque morbi cursus euismod condimentum sollicitudin a in porta dictumst pulvinar lacinia ut, curae ligula neque conubia fermentum convallis molestie bibendum tempor eros phasellus nullam habitant, urna imperdiet felis id augue est dictum tincidunt gravida cum lectus.</p>
    </div>
    <div>
        <h4>¿Por qué elegirnos?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, malesuada suspendisse fusce potenti natoque dapibus taciti, dignissim conubia nascetur vehicula purus ultrices urna. Nascetur ornare blandit felis varius aliquet consequat at, class mauris nam molestie vulputate bibendum purus aenean, ultrices vestibulum tristique iaculis habitant augue. Natoque morbi cursus euismod condimentum sollicitudin a in porta dictumst pulvinar lacinia ut, curae ligula neque conubia fermentum convallis molestie bibendum tempor eros phasellus nullam habitant, urna imperdiet felis id augue est dictum tincidunt gravida cum lectus.</p>
    </div>
</div>