<div class="form-container">
    <form>
        <h2>Datos de contacto</h2>
        <label>Nombre</label>
        <input type="text" placeholder="Nombre" />
        <br />
        <label>Apellido</label>
        <input type="text" placeholder="Apellido" />
        <br />
        <label>E-mail</label>
        <input type="email" placeholder="E-mail" />
        <br />
        <label>Comentarios</label>
        <textarea></textarea>
        <button class="btn-primary">Aceptar</button>
    </form>
</div>