@{
    ViewBag.Title = "Concesionario";
}

<!--header img-->
<div>
    <img class="box" src="~/img/concesionario/concesionario-2.jpg">
</div>
<!--modelos de muestra-->
<div class="container">
    <h2 class="header-container">Algunos de los modelos más buscados</h2>
</div>
<div class="car-container">
    <img src="~/img/peugeot-208.jpg">
    <h3 class="header-container">Nuevo Peugeot 208</h3>
    <p class="text-container">Nulla maximus, nibh ac lacinia vulputate, neque libero pharetra urna, et sollicitudin nibh ex sit amet libero. Aenean ac mattis nunc, nec tempus nisl. Mauris vulputate sagittis tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed auctor venenatis tortor ac pharetra. Maecenas libero arcu, sollicitudin nec tortor ac, egestas tincidunt turpis. In sodales tempus tincidunt. Fusce dictum laoreet nisl, at commodo dolor blandit vitae. Ut facilisis gravida facilisis. Pellentesque sed diam nec purus commodo ornare. Nulla sodales elementum ligula quis aliquam.</p>
</div>
<div class="car-container">
    <img src="~/img/Chevrolet-Onix.jpg">
    <h3 class="header-container">Chevrolet Onix</h3>
    <p class="text-container">Nulla maximus, nibh ac lacinia vulputate, neque libero pharetra urna, et sollicitudin nibh ex sit amet libero. Aenean ac mattis nunc, nec tempus nisl. Mauris vulputate sagittis tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed auctor venenatis tortor ac pharetra. Maecenas libero arcu, sollicitudin nec tortor ac, egestas tincidunt turpis. In sodales tempus tincidunt. Fusce dictum laoreet nisl, at commodo dolor blandit vitae. Ut facilisis gravida facilisis. Pellentesque sed diam nec purus commodo ornare. Nulla sodales elementum ligula quis aliquam.</p>
</div>
<div class="car-container">
    <img src="~/img/ford-ka-2020.jpg">
    <h3 class="header-container">Ford Ka 2020</h3>
    <p class="text-container">Nulla maximus, nibh ac lacinia vulputate, neque libero pharetra urna, et sollicitudin nibh ex sit amet libero. Aenean ac mattis nunc, nec tempus nisl. Mauris vulputate sagittis tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed auctor venenatis tortor ac pharetra. Maecenas libero arcu, sollicitudin nec tortor ac, egestas tincidunt turpis. In sodales tempus tincidunt. Fusce dictum laoreet nisl, at commodo dolor blandit vitae. Ut facilisis gravida facilisis. Pellentesque sed diam nec purus commodo ornare. Nulla sodales elementum ligula quis aliquam.</p>
</div>

<!--slider-->
<div class="slider">
    <div class="slider-container">
        <!--Botón imagen previa-->
        <button aria-label="Anterior" class="slider-prev">
            <i class="fas fa-chevron-left"></i>
        </button>

        <!--Lista de imágenes-->
        <div class="slider-list">
            <div class="slider-element">
                <img src="~/img/peugeot-208.jpg" alt="Peugeot 208" />
                <p>Peugeot 208</p>
            </div>

            <div class="slider-element">
                <img src="~/img/Chevrolet-Onix.jpg" alt="Chevrolet Onix" />
                <p>Chevrolet Onix</p>
            </div>

            <div class="slider-element">
                <img src="~/img/ford-ka.jpg" alt="Ford Ka" />
                <p>Ford Ka</p>
            </div>
        </div>

        <!--Botón imagen siguiente-->
        <button aria-label="Siguiente" class="slider-next">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>

    <div role="tablist" class="slider-indicators"></div>
</div>