@{
    ViewBag.Title = "Concesionario";
}

<div class="container">
    <ul class="slider">
        <li id="slide1">
            <img src="~/img/chevrolet/chevrolet-onix.jpg" />
        </li>
        <li id="slide2">
            <img src="~/img/peugeot/peugeot-208.jpg" />
        </li>
        <li id="slide3">
            <img src="~/img/ford/ford-ka.jpg" />
        </li>
    </ul>
</div>
