* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: 'Century Gothic';
}

header {
    margin-bottom: 48px;
}

/* barra de navegación */

.navbar {
    position: fixed;
    background-color: #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(0,0,0,0.1) 5px 5px 5px;
}

    .navbar ul {
        list-style-type: none;
    }

    .navbar li {
        float: left;
    }

        .navbar li a {
            display: block;
            color: #045FB4;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

            .navbar li a:hover {
                background-color: #045FB4;
                color: #ffffff;
            }

/* contenedores */

.container {
    width: auto;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    padding: 25px;
}

    .container ul {
        list-style-type: none;
    }

    .container img {
        height: auto;
        width: auto;
        max-width: 850px;
    }

.header-container {
    text-align: left;
    color: #045FB4;
    padding-bottom: 15px;
}

.text-container {
    color: #045FB4;
    text-align: center;
}

.form-container {
    width: 60%;
    height: 40%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
}

form {
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

    form h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #045FB4;
    }

    form label {
        text-align: left;
        color: #045FB4;
    }

input, textarea {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

.btn-primary {
    background-color: #045FB4;
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

    .btn-primary:hover {
        background-color: #169bff;
        color: #fff;
    }

.horarios-container {
    text-align: center;
    padding: 30px;
}

.box {
    width: 100%;
    height: auto;
}

/* pie de página */

footer {
    width: 100%;
    height: 200px;
    background-color: #1d1d1d;
    color: #fff;
    bottom: 0;
    position: relative;
    align-items: center;
}

.copyright-text {
    color: #045FB4;
    text-align: center;
    padding: 5px;
}
