* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: 'Century Gothic';
}

header {
    margin-bottom: 48px;
}

/*----barra de navegación----*/

.navbar {
    position: fixed;
    background-color: #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(0,0,0,0.1) 5px 5px 5px;
    z-index: 1;
}

    .navbar ul {
        list-style-type: none;
    }

    .navbar li {
        float: left;
    }

        .navbar li a {
            display: block;
            color: #045FB4;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

            .navbar li a:hover {
                background-color: #045FB4;
                color: #ffffff;
            }

/* contenedores */

.container {
    width: auto;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    padding: 20px;
}

    .container ul {
        list-style-type: none;
    }

    .container img {
        height: auto;
        width: auto;
        max-width: 100%;
    }

.header-container {
    text-align: left;
    color: #045FB4;
    padding-bottom: 10px;
    padding-top: 15px;
}

.text-container {
    color: #045FB4;
    text-align: center;
}

/*-------Contenedor auto-------*/

.car-container {
    width: 100%;
    height: 220px;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    margin-top: 20px;
}

    .car-container img {
        width: 40%;
        padding: 10px;
        height: auto;
        float: left;
        margin-right: 20px;
        box-sizing: border-box;
    }

    .car-container p {
        text-align: justify;
        font-size: 13px;
    }

/* -------formulario--------*/

.form-container {
    width: 80%;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
}

form {
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

    form h4 {
        text-align: center;
        margin-bottom: 20px;
        color: #045FB4;
    }

    form label {
        text-align: left;
        color: #045FB4;
    }

    form input {
        border-style: solid;
    }

        form input:focus {
            outline: none;
        }

.form-message {
    background-color: #F66060;
    height: 20px;
    margin: 5px;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
    display: none;
}

.form-message-active {
    display: block;
}

.input-correct {
    border-color: #045FB4;
}

.input-incorrect {
    border-color: #eb1e1e;
}

input, textarea {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 1px;
    border-radius: 3px;
}

textarea {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    border-style: solid;
    border-color: #045FB4;
}

.btn-primary {
    background-color: #045FB4;
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

    .btn-primary:hover {
        background-color: #169bff;
        color: #fff;
    }

/*-----items------*/

.item-container {
    width: 810px;
    margin: 20px auto;
}

.car-item {
    background-color: #fff;
    width: 250px;
    height: 320px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 5px;
    float: left;
    margin: 10px;
}

    .car-item img {
        width: 100%;
    }

.car-item-header {
    padding: 4px;
}

    .car-item-header h3 {
        text-align: center;
        color: #045FB4;
    }

.car-item-description {
    padding: 4px;
}

    .car-item-description p {
        padding: 4px;
        text-align: center;
        font-size: 15px;
        color: #045FB4;
    }

.car-item-footer {
    padding: 4px;
}

    .car-item-footer ul {
        list-style-type: none;
    }

    .car-item-footer li {
        float: left;
        margin: 2px auto;
    }

        .car-item-footer li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 6px;
            text-decoration: none;
        }

            .car-item-footer li a:hover {
                background-color: #008aff;
            }

.car-item-button {
    padding: 4px;
    background-color: #045FB4;
    color: #fff;
    border: none;
    border-radius: 3px;
}


/*---slider---*/
.slider {
    width: 90%;
    margin: 20px auto 20px auto;
}

.slider-container {
    margin: 10px auto;
    max-width: 80%;
    position: relative;
    margin-bottom: 20px;
}

.slider-element {
    text-align: center;
}

    .slider-element img {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    .slider-element p {
        font-size: 16px;
        color: #045FB4;
    }

.slider-prev,
.slider-next {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: #045FB4;
    color: #fff;
    opacity: 20;
}

    .slider-prev,
    .slider-next:focus {
        outline: none;
    }

.slider-prev {
    left: -30px;
}

.slider-next {
    right: -30px;
}

/*---------------*/

/*-----footer-----*/

.footer-container {
    width: 100%;
    height: 200px;
    background-color: #1d1d1d;
    position: relative;
    bottom: 0px;
}

.horarios-container {
    float: left;
    margin-left: 300px;
    color: #045FB4;
    padding: 40px;
}

    .horarios-container p {
        color: #fff;
    }

.contacto-container {
    float: right;
    margin-right: 300px;
    color: #045FB4;
    padding: 40px;
}

    .contacto-container h4 {
        color: #fff;
    }


.box {
    width: 100%;
    height: auto;
}

/*---footer---

footer {
    width: 100%;
    height: 200px;
    background-color: #1d1d1d;
    color: #fff;
    bottom: 0;
    position: relative;
    align-items: center;
}
    */

