<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="create">Crear nuevo</a>
                    </li>
                    <li class="nav-item ml-2">
                        <form asp-controller="home" asp-action="search">
                            <input type="text" name="SearchString" placeholder="Buscar..." />
                            @*<input type="submit" value="Buscar"/>*@
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="mfooter-container">
        <div class="horarios-container">
            <h3>Horarios de atención</h3>
            <p> Lunes a Viernes de 9:00hs a 18:30hs</p>
            <p> Sábado Cerrado</p>
            <p> Domingo Cerrado</p>
        </div>
        <div class="contacto-container">
            <h3>Contacto</h3>
            <h5>Escribinos por WhatsApp!</h5>
            <h4> 15 0123-4567</h4>
            <h5>Llamanos!</h5>
            <h4> 011 4210-1234</h4>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
